{% extends 'base_layout.html' %}

{% block content %}

  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body style="background-color: #FFFAF0; color: #1f4070;">
    <h3>KLU-Team21</h3>
    <pre><span class="about-content" style="font-size: 18px;">
     The Agricultural Products Rural Entrepreneurship Management System is a web-based application designed to promote rural entrepreneurship in the agricultural sector.
      It serves as a platform where rural entrepreneurs, farmers, and agricultural businesses can showcase and market their agricultural products.
      The system aims to bridge the gap between rural producers and urban consumers,
      fostering economic growth and sustainable development in rural areas.
    </span></pre>
  </body>
{% endblock %}
